html,
body {
  /* Layout */
  padding: 0;
  margin: 0;
  height: 100%;

  /* Text */
  font-family: 'Helvetica', 'Arial', sans-serif;

  /* Color */
  background: #ddebb9;

  /* Disable text selection */
  user-select: none;
}

/* Link */
a {
  text-decoration: none;
  color: black;
}

/* Color focus */
* {
  outline-color: black;
}
